<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "cl.blup.app"
    version   = "1.0.0">

<name>test facebook login</name>

<description>
Test de reconocimiento vocal off-line.
</description>
<preference name="orientation" value="portrait" />
<preference name="fullscreen"  value="true" /> 


<!--Accseso google maps android-->
<access origin="*" />
<gap:plugin name="com.phonegap.plugins.childbrowser" />
    <param name="APP_ID" value="579208615497343" />
    <param name="APP_NAME" value="Blup Cosmetica Natural" />
</gap:plugin>


<author href="http://www.cursor.cl" email="daniel@cursor.cl">
Daniel Olmedo
</author>

</widget>
